In [74]:
# Creating an empty set
thisset = set()
print(thisset)

set()

In [4]:
#Creating sets
fruits = {'apple','banana','orange'}
print(fruits)
integers = {1, 2, 3, 4, 5}
print(integers)
strings = {"apple", "banana", "cherry"}
print(strings)
mixed = {42, "hello", 3.14, -30}
print(mixed)
floats = {1.1, 2.2, 3.3, 4.4, 5.5}
print(floats)
print(type(fruits))
print(type(integers))
print(type(strings))
print(type(mixed))
print(type(floats))

{'banana', 'orange', 'apple'}
{1, 2, 3, 4, 5}
{'cherry', 'banana', 'apple'}
{-30, 3.14, 42, 'hello'}
{1.1, 2.2, 3.3, 4.4, 5.5}
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [5]:
#Duplicate
numbers = {9,9,9,8,8,8,7,7,7,6,6,6,5,5,5,4,4,4,3,3,3,2,2,2,1,1,1}
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
#Add
integers = {1, 2, 3, 4, 5}
integers.add(6)
print(integers)

{1, 2, 3, 4, 5, 6}

In [14]:
#Update
fruits = {'apple','banana','orange'}
mixed = {42, "hello", 3.14, -30}
fruits.update(mixed)
print(fruits)

{-30, 3.14, 'orange', 42, 'apple', 'banana', 'hello'}

In [17]:
#Remove an element
floats = {1.1, 2.2, 3.3, 4.4, 5.5}
floats.discard(5.5)
print(floats)
strings = {"apple", "banana", "cherry"}
strings.remove('cherry')
print(strings)

{1.1, 2.2, 3.3, 4.4}
{'banana', 'apple'}

In [21]:
my_set = {1,2,3,4,6,7,8,9,10}
my_set.discard(5)  # Does not raise an error even though 5 is not in the set
print(my_set)

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [24]:
my_set = {1,2,3,4,6,7,8,9,10}
my_set.remove(5) #raises an error unlike discard
print(my_set)

KeyError: 5

In [35]:
A = {1, 2, 3, 4, 5}
B = {10, 20, 30, 40, 50}
C = {1.1, 2.2, 3.3, 4.4, 5.5}
D = {0.1, 0.2, 0.3, 0.4, 0.5}
E = {"apple", "banana", "cherry"}
F = {"dog", "cat", "mouse"}
#Set operations
#UNION -> includes all elements of the operational sets
#Union of A and B
print('Union of A and B using |:',A | B)
print('Union of A and B using union() function:', A.union(B))
#Union of A,B and C
print('Union of A,B and C using |:', A|B|C)
print('Union of A,B and C using union(para1,para2) function:',A.union(B,C))
#Union of C,D and E
print('Union of C,D and E using chained union:', C.union(D).union(E))
print("Union of C,D and E using |:",C|D|E)
#Union of E and F
print('Union of E and F using |:', E|F)
print('Union of E and F using union function:', E.union(F))

Union of A and B using |: {1, 2, 3, 4, 5, 40, 10, 50, 20, 30}
Union of A and B using union() function: {1, 2, 3, 4, 5, 40, 10, 50, 20, 30}
Union of A,B and C using |: {1, 2, 3, 4, 5, 1.1, 2.2, 40, 3.3, 10, 4.4, 5.5, 50, 20, 30}
Union of A,B and C using union(para1,para2) function: {1, 2, 3, 4, 5, 1.1, 2.2, 40, 3.3, 10, 4.4, 5.5, 50, 20, 30}
Union of C,D and E using chained union: {0.1, 1.1, 2.2, 3.3, 4.4, 5.5, 0.4, 0.2, 0.3, 0.5, 'banana', 'cherry', 'apple'}
Union of C,D and E using |: {0.1, 1.1, 2.2, 3.3, 4.4, 5.5, 0.4, 0.2, 0.3, 0.5, 'banana', 'cherry', 'apple'}
Union of E and F using |: {'cherry', 'cat', 'dog', 'apple', 'mouse', 'banana'}
Union of E and F using union function: {'cherry', 'cat', 'dog', 'apple', 'mouse', 'banana'}

In [39]:
#Intersection -> includes only common elements of the operational sets
A = {1, 2, 3, 4, 5}
B = {10, 20, 30, 40, 50,5,2,3}
C = {1.1, 2.2, 3.3, 4.4, 5.5,3}
D = {0.1, 0.2, 0.3, 0.4, 0.5,5.5,4.4,4}
E = {"apple", "banana", "cherry","mouse",1.1,2.2,4.4}
F = {"dog", "cat", "mouse","banana","apple"}
#Intersection of A and B
print('Intersection of A and B using &:',A & B)
print('Intersection of A and B using intersection() function:', A.intersection(B))
#Intersection of A,B and C
print('Intersection of A,B and C using &:', A&B&C)
print('Intersection of A,B and C using intersection(para1,para2) function:',A.intersection(B,C))
#Intersection of C,D and E
print('Intersection of C,D and E using chained intersection:', C.intersection(D).intersection(E))
print("Intersection of C,D and E using &:",C&D&E)
#Intersection of E and F
print('Intersection of E and F using &:', E&F)
print('Intersection of E and F using intersection function:', E.intersection(F))

Intersection of A and B using &: {2, 3, 5}
Intersection of A and B using intersection() function: {2, 3, 5}
Intersection of A,B and C using &: {3}
Intersection of A,B and C using intersection(para1,para2) function: {3}
Intersection of C,D and E using chained intersection: {4.4}
Intersection of C,D and E using &: {4.4}
Intersection of E and F using &: {'mouse', 'banana', 'apple'}
Intersection of E and F using intersection function: {'mouse', 'banana', 'apple'}

In [56]:
#Difference -> returns a new set containing elements that are in the first set but not in the second set
A = {1, 2, 3, 4, 5} 
B = {10, 20, 30, 40, 50,5,2,3}
C = {1.1, 2.2, 3.3, 4.4, 5.5,3}
D = {0.1, 0.2, 0.3, 0.4, 0.5,5.5,4.4,4}
E = {"apple", "banana", "cherry","mouse",1.1,2.2,4.4}
F = {"dog", "cat", "mouse","banana","apple"}
#Difference of A and B
print('Difference of A and B using -:',A - B)
print('Difference of A and B using difference() function:', A.difference(B))
#Difference of A,B and C
print('Difference of A,B and C using -:', A-B-C)
print('Difference of A,B and C using difference(para1,para2) function:',A.difference(B,C))
#Difference of C,D and E
print('Difference of C,D and E using chained difference:', C.difference(D).difference(E))
print("Difference of C,D and E using -:",C-D-E)
#Difference of E and F
print('Difference of E and F using -:', E-F)
print('Difference of E and F using difference function:', E.difference(F))

Difference of A and B using -: {1, 4}
Difference of A and B using difference() function: {1, 4}
Difference of A,B and C using -: {1, 4}
Difference of A,B and C using difference(para1,para2) function: {1, 4}
Difference of C,D and E using chained difference: {3.3, 3}
Difference of C,D and E using -: {3.3, 3}
Difference of E and F using -: {'cherry', 1.1, 2.2, 4.4}
Difference of E and F using difference function: {'cherry', 1.1, 2.2, 4.4}

In [61]:
#Set Symmetric -> returns a new set with elements that are in either one of the sets, but not in both. Simply Opposite intersection
A = {1, 2, 3, 4, 5} 
B = {10, 20, 30, 40, 50,5,2,3}
C = {1.1, 2.2, 3.3, 4.4, 5.5,3}
D = {0.1, 0.2, 0.3, 0.4, 0.5,5.5,4.4,4}
E = {"apple", "banana", "cherry","mouse",1.1,2.2,4.4}
F = {"dog", "cat", "mouse","banana","apple"}
#Set Symmetric of A and B
print('Set Symmetric of A and B using ^:',A ^ B)
#set symmetry takes only one parameter at a time so A.symmetric_difference(B,C) shows an error
print('Set Symmetric of A and B using symmetric_difference function:', A.symmetric_difference(B))
#Set Symmetric of A,B and C
print('Set Symmetric of A,B and C using ^:', A^B^C)
print('Set Symmetric of A,B and C using chained symmetric_difference function:',A.symmetric_difference(B).symmetric_difference(C))
#Set Symmetric of C,D and E
print('Set Symmetric of C,D and E using chained symmetric_difference:', C.symmetric_difference(D).symmetric_difference(E))
print("Set Symmetric of C,D and E using ^",C^D^E)
#Set Symmetric of E and F
print('Set Symmetric of E and F using ^:', E^F)
print('Set Symmetric of E and F using difference function:', E.symmetric_difference(F))
#set symmetry takes only one parameter at a time so A.symmetric_difference(B,C) shows an error

Set Symmetric of A and B using ^: {1, 4, 40, 10, 50, 20, 30}
Set Symmetric of A and B using symmetric_difference function: {1, 4, 40, 10, 50, 20, 30}
Set Symmetric of A,B and C using ^: {1.1, 2.2, 3.3, 4.4, 5.5, 3, 1, 4, 10, 20, 30, 40, 50}
Set Symmetric of A,B and C using chained symmetric_difference function: {1.1, 2.2, 3.3, 4.4, 5.5, 3, 1, 4, 10, 20, 30, 40, 50}
Set Symmetric of C,D and E using chained symmetric_difference: {0.1, 0.4, 4.4, 0.2, 0.3, 0.5, 3, 4, 3.3, 'mouse', 'banana', 'cherry', 'apple'}
Set Symmetric of C,D and E using ^ {0.1, 0.4, 4.4, 0.2, 0.3, 0.5, 3, 4, 3.3, 'mouse', 'banana', 'cherry', 'apple'}
Set Symmetric of E and F using ^: {'dog', 1.1, 2.2, 4.4, 'cherry', 'cat'}
Set Symmetric of E and F using difference function: {'dog', 1.1, 2.2, 4.4, 'cherry', 'cat'}