In [5]:
#Tuples
#Empty tuple
empty_tuple = ()
#Tuple with elements
fruits = ("apple", "banana","orange")
print(type(fruits))
fruits #print(fruits)

<class 'tuple'>

('apple', 'banana', 'orange')

In [8]:
#Mixed data types
mixed_tuple = (1,"apple",3.14,True)
mixed_tuple

(1, 'apple', 3.14, True)

In [11]:
#Single
single_element = (42,)
(single_element)

(42,)

In [12]:
#Accessing of tuples
tup1 = ("Apple","Banana","Orange","Strawberry","Mango","Blueberry","Pineapple","Grape","Watermelon","Kiwi")
tup2 = (1,2,3,4,5,6,7,8,9,10)
tup3 =(1,"tomato",2.5,"potato",3.14,"pi",100,"solution2")
tup4 = (2,4,6,8,10,12,14,16,18,20)
tup5 = (1,3,5,7,9,11,13,15,17,19,21)
tup6 = (0,1,1,2,3,5,8,13,21,34)
tup7 =(-5,-4,-3,-2,-1,0,1,2,3,4,5,)
tup8 = (11,22,33,50,60,22,33,1,1,2,2,22,60)
tup9 = (6, 'fig', 9.81, False, 'purple', 2019)
tup10 = (2024, 2020, 2016,2012, 2008)
print(tup1[5])
print(tup3[4])
print(tup9[0:])

Blueberry
3.14
(6, 'fig', 9.81, False, 'purple', 2019)

In [14]:
#Tuple Operations
tup1 = ("Apple","Banana","Orange","Strawberry","Mango","Blueberry","Pineapple","Grape","Watermelon","Kiwi")
tup2 = (1,2,3,4,5,6,7,8,9,10)
tup3 =(1,"tomato",2.5,"potato",3.14,"pi",100,"solution2")
tup4 = (2,4,6,8,10,12,14,16,18,20)
tup5 = (1,3,5,7,9,11,13,15,17,19,21)
tup6 = (0,1,1,2,3,5,8,13,21,34)
tup7 =(-5,-4,-3,-2,-1,0,1,2,3,4,5,)
tup8 = (11,22,33,50,60,22,33,1,1,2,2,22,60)
tup9 = (6, 'fig', 9.81, False, 'purple', 2019)
tup10 = (2024, 2020, 2016,2012, 2008)
#Concatenation
result1 = tup1 +tup2
result2 = tup9 + tup10
result3 = tup7+tup8
print(result1)
print(result2)
print(result3)

('Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(6, 'fig', 9.81, False, 'purple', 2019, 2024, 2020, 2016, 2012, 2008)
(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 11, 22, 33, 50, 60, 22, 33, 1, 1, 2, 2, 22, 60)

In [16]:
#Repitition
print(tup1*10)

('Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi', 'Apple', 'Banana', 'Orange', 'Strawberry', 'Mango', 'Blueberry', 'Pineapple', 'Grape', 'Watermelon', 'Kiwi')

In [20]:
print(tup2 * -2)

()

In [36]:
print(tup10*5)
print(tup10 + tup5 *5)

(2024, 2020, 2016, 2012, 2008, 2024, 2020, 2016, 2012, 2008, 2024, 2020, 2016, 2012, 2008, 2024, 2020, 2016, 2012, 2008, 2024, 2020, 2016, 2012, 2008)
(2024, 2020, 2016, 2012, 2008, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21)

In [24]:
#Tuple methods
#Count
tup1 = ("Apple","Banana","Orange","Strawberry","Mango","Blueberry","Pineapple","Grape","Watermelon","Kiwi")
tup2 = (1,2,3,4,5,6,7,8,9,10)
tup3 =(1,"tomato",2.5,"potato",3.14,"pi",100,"solution2")
tup4 = (2,4,6,8,10,12,14,16,18,20)
tup5 = (1,3,5,7,9,11,13,15,17,19,21)
tup6 = (0,1,1,2,3,5,8,13,21,34)
tup7 =(-5,-4,-3,-2,-1,0,1,2,3,4,5,)
tup8 = (11,22,33,50,60,22,33,1,1,2,2,22,60)
tup9 = (6, 'fig', 9.81, False, 'purple', 2019)
tup10 = (2024, 2020, 2016,2012, 2008)
#Concatenation
print(tup8.count(22))
print(tup9.count(6))

3
1

In [29]:
#index
print(tup1.index("Kiwi"))
print(tup10.index(2020))

9
1

In [30]:
#getting length
print(len(tup8))

13

In [33]:
#unpacking
tup10 = (2024, 2020, 2016,2012, 2008)
val1,val2,val3,val4,val5 = tup10
print(val1)
print(val2)
print(val3)
print(val4)
print(val5)

2024
2020
2016
2012
2008

In [40]:
#Convert tuple to list and update it
tup10 = (2024, 2020, 2016, 2012, 2008)
lis10 = list(tup10)  # Convert tuple to list
lis10[2] = "Two thousand and sixteen"  # Update the list
tup10 = tuple(lis10)  # Convert the list back to tuple
print(tup10)

(2024, 2020, 'Two thousand and sixteen', 2012, 2008)